body{background-color: black;}
.navbar
{
    background-color: rgb(56, 55, 55);
    display: flex;
    justify-content: space-around;
    margin: 1%;
    height: auto;
    border-radius: 8px;
}
#logo
{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
}
#logo img
{
    width: 9rem;
    padding: 1%;
    margin: 0;
}

#link ul{display: flex;    list-style: none;}

#link ul li{margin: 0 0 0 4rem;}

#link ul li a
{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(245, 243, 239);
    font-weight:400 ;
}
/* main */
.MainHead
{
    background-color: rgb(36, 32, 32);
    display: flex;
    margin: 1%;
    border-radius: 8px;
}
#MainHeadLeft
{
    margin: 0 0 0 8%;
    width: 50%;
    color: white;
    padding: 8% 0 0 2% ;
    line-height: 2.9rem;
}

#MainHeadLeft span {color: rgb(248, 249, 245);    font-size: 3rem;}

#MainHeadLeft span sub{font-size: 40%;}

#MainHeadRight{width: 50%;    justify-content: flex-end;}

#MainHeadRight img{width: 75%;    margin: 0 0 0 22%;}

@media(width<440px)
{
    .navbar
    {
        justify-content: center;
    }
    #link ul
    {
        display: none;
    } 
}
