#MainContactLeft
{
    width: 50%;
    justify-content: center;
    margin: 7% 5%;
}
span
{
    font-size: 250%;
    color: white;
}
#socialmedia ul
{
    margin: 10% 0 5% 0;
    display: flex;
    padding: 0;
    justify-content: center;
}
#socialmedia ul li
{
    text-decoration: none;
    list-style: none;
}
#socialmedia img
{
    width: 70%;
    box-shadow: -7px 0 6px rgba(228, 227, 227, 0.324);
    border-radius: 50%;
    backdrop-filter: blur(100px);
}
#socialmedia img:hover{width: 75%;}
