body{background-color: black;}
.navbar
{
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-around;
    margin: 1%;
    height: auto;
    border-radius: 8px;
}
#logo
{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
}
#logo img
{
    width: 9rem;
    padding: 1%;
    margin: 0;
}
/* #logo img:hover{width: 10rem;} */
#link ul{display: flex;    list-style: none;}

#link ul li{margin: 0 0 0 4rem;}

#link ul li a
{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(245, 243, 239);
    font-weight:400 ;
}
#link ul li a:hover
{
    font-size:1.4rem ;
    color:rgb(242, 122, 82) ;
}
/* main */
.MainHead
{
    background-color: rgb(44, 44, 44);
    display: flex;
    margin: 1%;
    border-radius: 8px;
    padding: 2%;
}
#MainHeadLeft
{
    margin: 0 0 0 8%;
    width: 50%;
    color: white;
    padding: 8% 0 0 2% ;
    line-height: 2.9rem;
}

#MainHeadLeft span {color: rgb(248, 249, 245);    font-size: 3rem;}

#MainHeadLeft span sub{font-size: 40%;}

#MainHeadRight{width: 50%;    justify-content: flex-end;}

#MainHeadRight img{width: 75%;    margin: 0 0 0 22%;}

hr{
    width: 97%;
    margin: 2%;
    height: 1px;
    background-color: white;
}
.MainSkill
{
    background-color: rgb(37, 37, 37);
    /* display: flex; */
    border-radius: 8px;
    margin: 1%;
}
#TechnicalSkill
{
    padding: 1% 4%;
    font-size: 2.4rem;
    color: rgb(252, 252, 247);
}
#Skill
{
    list-style: none;
    font-size: 2rem;
    color: white;
    display: flex;
}
.slidebar
{
    position: fixed;
    top: 0;
    left: -800px;
    height: 96%;
    margin: 2% 0 2% 2%;
    width: 42%;
    border-radius: 9px;
    backdrop-filter: blur(100px);
    background-color: rgb(43, 42, 42);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display:flex;                                       /*make it flex using javascript*/
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 1s linear;
}

#sliderimg{width: 89%;    padding:0;}

.slidebar ul
{
    margin: 4% 0 0 0;
    padding: 0%;
    list-style: none;
    width: 100%;
}

.slidebar ul li{padding: 3.5% 0 3.5% 5%;}

.slidebar ul li:hover{background-color: rgb(123, 122, 122);padding: 3.5% 0 3.5% 7%;}

.slidebar ul li a
{
    text-decoration: none;
    font-size:160%;
    color: white;
    margin: 4% 0 3% 1%;
}
#click{margin: 10% 5% 10% 80%; width: 44px;}
#canceling{display: none;}
label #check,label #cancel{position: absolute;  cursor: pointer;}

#check{display: none;}
#check:checked ~ .slidebar{display: flex; left:0px;}

@media(width>700px)
{
    #click{display: none;}
}
@media(width<700px)
{
    .navbar
    {
        justify-content: center;
    }
    #link ul
    {
        display: none;
    } 
    .navbar a 
    {
        margin: 4% 1% 4% 22%;
        /* height: 100%; */
        justify-content: flex-end;        
    }
    .MainHead{align-items: center; display: inline-block;justify-content: center;}
    #MainHeadLeft
    {
        width: 100%;;
    }
    #MainHeadRight
    {
        width: 100%;justify-items: center;
    }
    #MainHeadRight img{margin: 4% 5% 2% 5%;width: 90%;}
    #MainHeadLeft span{font-size: 230%;line-height: normal;}



/* Styling for contact.html file      */
/* Styling for contact.html file      */
/* Styling for contact.html file      */
    #MainContactLeft{width: 100%;}
    button{width: 100%s;}

}
